# Practical_1: Variables and Assignments

# Exercise 1 : daclare a valiable x and assign it the value '10'

In [7]:
x=10
x

10

### Exercise 2: Assign the value `True` to a variable called `is_valid`.

In [5]:
is_valid = True
is_valid

True

### Exercise 3: Create a string variable `name` with the value "Python Programming".

In [8]:
name = "Python Programming"
name

'Python Programming'

### Exercise 4: Assign the result of `5 + 3` to a variable `sum_result`.

In [9]:
sum_result = 5 + 3
sum_result

8

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

In [10]:
a, b, c = 5, 10, 15
print(a, b, c)

5 10 15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

In [11]:
y = x
y

10

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

In [12]:
gravity = 9.8
gravity

9.8

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

In [14]:
country = "Rwanda"
country

'Rwanda'

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

In [15]:
age = 25
age = 26
age

26

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

In [16]:
difference = 20 - 7
difference

13

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

In [21]:
integer_val = 42
float_val = 3.14
print(integer_val, float_val)

42 3.14

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

In [22]:
is_completed = False
is_completed

False

### Exercise 13:
Swap the values of two variables `x` and `y`.

In [23]:
x = 10
y = 20
x, y = y, x
print(x, y)

20 10

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

In [24]:
complex_num = 3 + 4j
complex_num

(3+4j)

### Exercise 15:
Reassign a variable from an integer to a string.

In [25]:
num_var = 100
num_var = "hundred"
num_var

'hundred'

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

In [26]:
first_name = "John"
last_name = "Doe"
print(first_name, last_name)

John Doe

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

In [27]:
temperature = 35.5
temperature

35.5

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

In [28]:
product = 8 * 6
product

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

In [29]:
sentence = "Python is a versatile programming language."
sentence

'Python is a versatile programming language.'

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

In [30]:
int_value = int('50')
int_value

50

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

In [31]:
quotient = 144 / 12
quotient

12.0

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

In [32]:
remainder = 47 % 5
remainder

2

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

In [33]:
is_student = True
is_student

True

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

In [34]:
modulo_result = 45 % 4
modulo_result

1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

In [35]:
pi = 3.14159
pi

3.14159

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

In [39]:
length = 5
width = 3
area = length * width
area

15

### Exercise 27:
Assign a negative number to a variable `negative_value`.

In [38]:
negative_value = -42
negative_value

-42

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

In [37]:
greeting = "Hello, World!"
greeting

'Hello, World!'

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

In [40]:
population = 7800000000  # 7.8 billion
population

7800000000

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

In [41]:
power_result = 2 ** 8
power_result

256

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

### Exercise 39:
Assign a multi-line string to a variable `description`.

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.



### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

### Exercise 43:
Use variables to store a combination of string concatenation.

```python
# Exercise 43
```

---

### Exercise 44:
Assign an empty list to a variable `empty_list`.

```python
# Exercise 44
```

---

### Exercise 45:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 45
```

---

### Exercise 46:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 46
```

---

### Exercise 47:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 47
```

---

### Exercise 48:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 48
```

---

### Exercise 49:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 49
```

---

### Exercise 50:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 50
```

****